<div class="row">
    <div class="col-12 mt-3 mb-3">
        <form action="#" class="form-inline">
    <div class="form-group mr-2">
      <label for="godine" class="mr-1 ml-1">Godine</label>
      <input type="text" name="" id="godine" class="mr-1" placeholder="From..."/>
      <input type="text" name="" id="godine2" placeholder="To..."/>
    </div>
    <div class="form-group mr-2">
      <label for="datum" class="mr-2">Datum</label>
      <input type="text" name="" id="datum" class="mr-1" placeholder="mm/dd/yyyy"/>
      <input type="text" name="" id="datum2" placeholder="mm/dd/yyyy"/>
    </div>
    <div class="form-group mr-2">
      <label for="pol" class="mr-1">Pol</label>
      <select name="" id="pol">
        <option value="f">Zenski</option>
        <option value="m">Muski</option>
      </select>
    </div>
    <div class="form-group">
      <label for="rasa" class="mr-1">Rasa</label>
      <input type="text" id="rasa" placeholder="Rasa..." />
    </div>
  </form>
    </div>
</div>
